/hws/hw2/hw2.X/dist/
/hws/hw2/hw2.X/build/
/hws/hw2/hw2.X/.generated_files/
/hws/hw3/hw3.X/build/
/hws/hw3/hw3.X/dist/
/hws/hw3/hw3.X/.generated_files/
/hws/hw3/hw3.X/nbproject/
/hws/hw5/hw5.X/build/
/hws/hw5/hw5.X/dist/
/hws/hw5/hw5.X/.generated_files/
/hws/hw5/hw5.X/nbproject/