/hws/hw2/hw2.X/dist/
/hws/hw2/hw2.X/build/
/hws/hw2/hw2.X/.generated_files/
/hws/hw3/hw3.X/build/
/hws/hw3/hw3.X/dist/
/hws/hw3/hw3.X/.generated_files/
/hws/hw3/hw3.X/nbproject/
/hws/hw5/hw5.X/build/
/hws/hw5/hw5.X/dist/
/hws/hw5/hw5.X/.generated_files/
/hws/hw5/hw5.X/nbproject/
/hws/hw6/hw6.X/build/
/hws/hw6/hw6.X/dist/
/hws/hw6/hw6.X/.generated_files/
/hws/hw6/hw6.X/nbproject/
/hws/hw7/hw7.X/build/
/hws/hw7/hw7.X/dist/
/hws/hw7/hw7.X/.generated_files/
/hws/hw7/hw7.X/nbproject/
/hws/hw8/hw8.X/dist/
/hws/hw8/hw8.X/build/
/hws/hw8/hw8.X/.generated_files/
/hws/hw8/hw8.X/nbproject/